<!DOCTYPE html>
<html>
	{{ partial "header.html" . }}
	<body>
		<div class="content">
			{{ partial "head.html" . }}
			
			<main class="list">
				<div class="site-description">
					{{- if isset .Site.Params "subtitle" -}}
					<p>{{ .Site.Params.Subtitle | .Page.RenderString }}</p>
					{{- end -}}
				</div>
				{{ $pages := where .Site.RegularPages "Type" "in" .Site.Params.mainSections }}
				{{ $pages = sort $pages "Date" "desc" }}
				{{ $pages = sort $pages "Params.pinned" "desc" }}
				{{ $paginator := .Paginate (where $pages "Params.hidden" "ne" true) }}
				{{ range $paginator.Pages }}
				<section class="list-item">
					<h1 class="title">
						<a href="{{ .RelPermalink }}">{{.Title}}</a>
						{{ if and (.Params.tags) (gt (len .Params.tags) 0) }}
						{{ $firstTag := index .Params.tags 0 }}
						<span class="tags-inline">
							<a class="tag-chip" href="{{ "/tags/" | relLangURL }}{{ $firstTag | urlize }}">{{ $firstTag }}</a>
						</span>
						{{ end }}
					</h1>
					<time>
						{{ dateFormat ":date_medium" .Date }}
						{{ $gh := .Params.author_github }}
						{{ if $gh }}
							{{ $user := replaceRE "^https?://(?:www\\.)?github.com/([^/]+)/?.*$" "$1" $gh }}
							 · <a href="{{ $gh }}">{{ $user }}</a>
						{{ end }}
						{{ if .Draft }} <span class="draft-label">DRAFT</span> {{ end }}
					</time>
					<br>{{ template "partials/pagedescription.html" . }}
					<a class="readmore" href="{{ .RelPermalink }}">Read more ⟶</a>
				</section>
				{{ end }}
				{{ template "partials/paginator.html" . }}
			</main>
			{{ partial "footer.html" . }}
		</div>
		
	</body>
</html>
